.sidebar {
	display: flex;
	flex-direction: column;
	flex: 1 0 200px;
	align-items: flex-end;
	background: rgb(255, 255, 255, .1);
	padding: 60px 30px;
}

.sidebar .sidebar-item {
    display: flex;
    justify-content: flex-end;
    border-radius: 4px;
    min-width: 140px;
    padding: 4px 8px;
    margin-bottom: 4px;
}